.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main p {
  color: #e0e1dd;
}

.lightMode h3,.lightMode h2,.lightMode h1,.lightMode h4,.lightMode h5,.lightMode h6 {
  color: #2e3239 !important;
}

@media screen and (max-width: 601px) {
  .main {
    width: 100%;
    padding: 0 0.5rem;
  }
}
