.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 10px;
  text-align: center;
  background-color: var(--background-color);
}

.title {
  color: var(--text-color);
}

.form {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-color);
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: var(--input-background-color);
  color: var(--input-text-color);
}

.button {
  padding: 10px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: var(--error-color);
}
