/* General Game Styles */
.game,
.lightMode {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
  flex-direction: column;
}

/* Light mode styles for letter containers */
.lightMode .letterCont {
  border: 2px solid #dee1e9;
  background: #fbfcff;
}

.attempts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.attempt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 62px;
}

/* Letter container styles */
.letterCont {
  height: 56px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #778da979;
  background: #6d6e6e1e;
  border-radius: 0.3rem;
}

/* Text styles for letters */
.lightMode .letter {
  color: #393e4c;
}

.letter {
  font-size: 28px;
  font-weight: 700;
}

.letter > sup {
  font-size: 12px;
  position: absolute;
}

/* Reward message styles */
.reward {
  margin: 0.2rem 0;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  padding: 0.3rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  background: #2c3446c0;
}

/* Keyboard styles */
.keyboard,
.keyboardCont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rawList {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 52px;
}

/* Key styles */
.key,
.excludedKey {
  height: 46px;
  margin: 3px;
  background: #7a858d;
  border-radius: 0.3rem;
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.key > span {
  color: #fff;
}

.key:hover,
.excludedKey:hover {
  background: #656a77;
}

.key:active,
.excludedKey:active {
  background: #60636b;
}

/* Adjust key width for different rows */
.rawList:first-child .key {
  width: 54px;
}
.rawList:nth-child(2) .key {
  width: 61px;
}
.rawList:last-child .key {
  width: 53px;
}

/* Excluded key styles */
.excludedKey {
  background: #7a858d;
  width: 6rem;
  color: #fff;
}

.lightMode .key {
  background: #d1d7de;
}

.lightMode .key > span {
  color: #4a5463;
}

.lightMode .excludedKey {
  color: #4a5463;
  background: #d1d7de;
}

/* Letter color states */
.correctLetter {
  background: #4caf50 !important;
  border: 2px solid #4caf50 !important;
}

.occuredLetter {
  background: #56b8d6 !important;
  border: 2px solid #56b8d6 !important;
}

.incorrectLetter {
  background: #3b4f60 !important;
  border: 2px solid #3b4f60 !important;
}

.correctLetter > span,
.occuredLetter > span,
.incorrectLetter > span {
  color: #fff !important;
}

/* Congrats screen */
.congrats {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  pointer-events: none;
  align-items: center;
}

/* Responsive Styles */
@media screen and (max-width: 601px) {
  .letterCont {
    height: 42px;
    width: 44px !important;
  }

  .attempt {
    height: 48px;
  }

  .letter {
    font-size: 15px;
  }

  .key,
  .excludedKey {
    font-size: 15px;
  }

  .excludedKey > svg {
    width: 24px;
  }
}

@media screen and (max-width: 400px) {
  .rawList {
    height: 48px !important;
  }

  .key,
  .excludedKey {
    height: 42px;
    font-size: 13px;
  }
}
