.switch {
  position: relative;
  display: inline-block;
  width: 55px; /* Default width */
  height: 28px; /* Default height */
  transition: 0.3s all ease;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s all ease;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px; /* Circle height */
  width: 22px; /* Circle width */
  left: 3px; /* Starting position */
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #007f5f;
}

input:checked + .slider:before {
  transform: translateX(27px); /* Matches the toggle size and slider width */
}

/* Loading Container */
.loadingContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

/* Spinner */
.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #d1d5db; /* Light gray */
  border-top: 6px solid #3b82f6; /* Accent blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

/* Spinner Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* audio.module.css */

/* Container for the audio player */
.audioPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* Play button styling */
.playBtn {
  background-color: #415a77; /* Purple background */
  color: white;
  width: 60px; /* Set the button width */
  height: 60px; /* Set the button height */
  border-radius: 50%; /* Circular shape */
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease; /* Smooth color change on hover */
  cursor: pointer;
  box-shadow: 0 5px 15px #00000033;
}

/* Play icon inside the button */
.icon {
  font-size: 26px; /* Icon size */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Hover effect */
.playBtn:hover {
  background-color: #415a77c5; /* Slightly lighter purple */
}

.playIcon {
  transform: rotate(0deg);
  opacity: 1;
}

.pauseIcon {
  transform: rotate(360deg); /* Rotate icon when switching */
  opacity: 1;
}

/* Disabled state for button */
.playBtn:disabled {
  background-color: #6b8099; /* Disabled state color */
  cursor: not-allowed;
}

/* Main container for the search bar */
.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

/* Styling the form */
.form {
  display: flex;
  align-items: center;
  border: 2px solid #ccc; /* Default border */
  border-radius: 0.5rem;
  width: 100%;
  background: #415a77;
  overflow: hidden;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Add focus effects to the form */
.form:focus-within {
  border-color: #007bff; /* Highlight border on focus */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); /* Soft glow */
}

/* Styling the input */
.input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 10px 15px;
  background: transparent;
  font-size: 16px;
  color: #fff;
}

.input::placeholder {
  color: #aaa;
  font-size: 14px;
}

/* Button styling */
.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: #555;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.iconButton:hover {
  color: #007bff; /* Change color on hover */
}

/* Add this to your utils.module.css */
.loading {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .playBtn {
    width: 50px;
    height: 50px;
  }
  .playBtn > svg {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 480px) {
  .switch {
    width: 40px; /* Even smaller width for mobile */
    height: 20px;
  }

  .slider:before {
    height: 16px; /* Smaller circle */
    width: 16px;
    bottom: 2px;
  }

  input:checked + .slider:before {
    transform: translateX(18px); /* Adjusted translation */
  }
}