.footer {
  color: #f4f4f4;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.description {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.ratingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.rate {
  gap: 0.1rem;
  display: flex;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.ratingText {
  font-size: 1.1rem;
  font-weight: bold;
}

.star {
  cursor: pointer;
  color: #bbb;
  transition: color 0.3s ease;
}

.activeStar {
  color: yellow; /* Active stars are yellow */
}

.inactiveStar {
  color: gray; /* Inactive stars are gray */
}

.inactiveStar:hover {
  color: #ffae42;
}

.toggleCommentButton,
.loadMoreButton {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggleCommentButton:hover,
.loadMoreButton:hover {
  background-color: #0056b3;
}

.commentSection {
  border-radius: 8px;
}

.commentInputContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.commentInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #1f1f1f;
  color: white;
}

.addCommentButton {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.addCommentButton:hover {
  background-color: #218838;
}

.commentList {
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
}

.commentItem {
  background-color: #2f2f2f;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.commentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.userImageContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.userImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userNameDate {
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin-left: 0.5rem;
  flex-direction: column;
}

.userNameDate h4 {
  font-size: 1rem;
  margin: 0;
}

.commentDate {
  font-size: 0.9rem;
  color: #555;
  display: flex;
  align-items: flex-start;
}

.commentDate span {
  font-size: 0.85rem;
  color: #888;
}

.commentText {
  font-size: 0.95rem;
  line-height: 1.4;
  margin: 0;
  text-align: left;
}

.timestamp {
  font-size: 0.85rem;
  color: gray;
  margin-top: 0.5rem;
  margin-left: 10px;
}

.likeDislikeContainer,
.likeDislikeContainerTopRight {
  display: flex;
  align-items: center;
  gap: 10px;
}

.likeButton,
.dislikeButton,
.likeDislikeContainerTopRight button {
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  font-size: 1.1rem;
}

.netLikes {
  font-size: 0.85rem;
  color: #aaa;
}

.likeDislikeContainerTopRight button {
  font-size: 1rem;
  color: #888;
}
.likeDislikeContainerTopRight button:disabled {
  opacity: 0.6; /* Reduce opacity when disabled */
  cursor: not-allowed;
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.discord,
.github,
.instagram {
  color: white;
  transition: all 0.3s ease;
  height: 24px;
  border-radius: 100px;
}

.discord:hover {
  color: #5865F2;
}

.github:hover {
  color: #333;
  background: white;
}

.instagram:hover {
  color: #E1306C;
}

.discord:hover,
.github:hover,
.instagram:hover {
  transform: scale(1.2);
}

.footerNote {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #aaa;
}

.copyright {
  margin-top: 10px;
  font-size: 0.8rem;
  color: #777;
  margin-bottom: 1rem;
}


@media (max-width: 600px) {
  .description {
    font-size: 1rem;
    text-align: center;
  }
  .averageRate span {
    font-size: 0.8rem;
  } 
  .commentItem {
    padding: 8px;
    gap: 6px;
  }

  .userImageContainer {
    width: 35px;
    height: 35px;
  }
  .userNameDate {
    margin-left: 0.2rem;
  }
  .userNameDate h4 {
    font-size: 0.8rem;
  }

  .likeDislikeContainerTopRight button {
    font-size: 0.9rem;
  }

  .commentText p {
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {

  .description {
    font-size: 0.9rem;
  }

  .commentItem {
    padding: 6px;
    font-size: 0.9rem;
  }

  .userImageContainer {
    width: 30px;
    height: 30px;
  }

  .commentHeader {
    gap: 4px;
  }

  .commentText p {
    font-size: 0.85rem;
  }

  .netLikes {
    font-size: 0.75rem;
  }
}

@media (max-width: 350px) {
  .description {
    font-size: 0.85rem;
  }

  .commentItem {
    padding: 5px;
    font-size: 0.8rem;
  }

  .userImageContainer {
    width: 25px;
    height: 25px;
  }

  .likeDislikeContainerTopRight {
    gap: 6px;
  }

  .commentText p {
    font-size: 0.8rem;
  }

  .likeButton,
  .dislikeButton {
    font-size: 0.8rem;
  }
}
