.light {
    background: #f3f1e8;
}

.gamelist {
    width: 100%;
    display: flex;
    justify-content: center;
}

.listOfGames {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}